.column-container {
    font-family: sans-serif;
    font-weight: bold;
    width: 250px;
    height: fit-content;
    background-color: white;
    padding: 20px 15px 15px;
    border-radius: 3px;
    border: solid 2px lightgray;
    .column-header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .delete-column {
            cursor: pointer;
            background-color: whitesmoke;
            width: 25px;
            height: 20px;
            text-align: center;
            padding-top: 7px;
            border-radius: 3px;
        }
    }
    .add-card-button {
        background-color: white;
        color: steelblue;
        border: solid 2px steelblue;
        border-radius: 3px;
        width: 100%;
        height: 40px;
        font-family: sans-serif;
        font-weight: bold;
    }
}