<div class="column-container">
    <div class="column-header">
        <div class="colum-title">
            <span *ngIf="!showInput" (click)="toggleInputText(true)">{{this.columnTitle}}</span>
            <input #nameInput
            *ngIf="showInput" 
            [(ngModel)]="this.columnTitle" 
            type="text" 
            (blur)="toggleInputText(false)"
            (keyup.enter)="loseFocus()">
        </div>
        <div class="delete-column" (click)="deleteColumn()">
            <ion-icon name="close-outline"></ion-icon>
        </div>
    </div>
    <div class="card-container">
        <card *ngFor="let cardDescription of cards; let i = index"
            id="card-{{i}}"
            [cardDescription]="cardDescription" 
            [cardIndex]="i"
            (onDeleteClicked)="deleteCard($event)"
            (onUpdateCard)="updateColumn($event)"
            cdkDrag>
        </card>
    </div>
    <button *ngIf="!creatingCard" class="add-card-button" (click)="addCard()">+ Agregar Card</button>
</div>