.main-container {
    padding: 20px 40px;
    background-color: whitesmoke;
    height: 100%;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px gainsboro;
        margin-bottom: 20px;
        .header-title {
            font-family: sans-serif;
            font-weight: normal;
        }
        .search-bar {
            font-family: sans-serif;
            height: fit-content;
            margin-top: 30px;
        }
        .new-button {
            font-family: sans-serif;
            height: 35px;
            width: 130px;
            margin-top: 26px;
            border-radius: 3px;
            background-color: royalblue;
            color: white;
            border: none;
        }
    }
    .board-container {
        width: 100%;
        height: 100%;
        .columns-container {
            display: flex;
            .column-element {
                margin-right: 10px;
            }
        }
        div {
            height: 100%;
        }
    }
}