<div class="main-container">
    <div class="header">
        <h1 class="header-title">Board de Tareas</h1>
        <div class="search-bar">
            <label>Buscar: </label>
            <input type="text" [(ngModel)]="searchValue" (keyup)="filter()">
        </div>
        <button class="new-button" (click)="addColumn()">Agregar Columna</button>
    </div>
    <div class="board-container">
        <div class="columns-container">
            <column 
              cdkDropList
              (cdkDropListDropped)="drop($event)"
              id="list-{{i}}"
              [cdkDropListConnectedTo]="item.connectedLists"
              class="column-element"
              *ngFor="let item of columnsArray; let i = index" 
              [data]="item" 
              [columnIndex]="i"
              (onDeleteColumnClicked)="deleteColumn($event)"
              (dataUpdated)="saveData()"></column>
        </div>
    </div>
</div>
